*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*--background-body:silver;*/
    /*background: linear-gradient(90deg,silver, white, black);*/
    

}

body {
    width: auto;
    height: auto;
    /*box-sizing: border-box;*/
    /*display: flex;*/
    --background-body: #0a0a0a;
    /*--whidth-body:100%;*/
    
}

.modal-area-content{
    visibility: hidden;
}
.btn-accent-btn-mobile{
    visibility: hidden;
    position: absolute;
}
.not-mobile{
    visibility: visible;
}




.main-container {
    
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: initial;/* Относительное позиционирование */
    border: 1px solid #000; /* Внешнея граница вокруг блока div */
    
    width: auto; /* Ширина блока div */

    height: 100vh;
    /*margin-left: -500px;*/
    left: 50%; /* Позиционирование относительно левого края окна браузера */

    background: radial-gradient(200% 259.18% at 21.64% 17.5%, #000000 20.83%, rgba(0, 0, 0, 0.4) 100%);
    
    mix-blend-mode: normal;


}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 9px;

    position: static;
    width: auto;
    height: auto;
    left: 0px;
    /*top: 35px;*/


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.icon-main-site {
    display: block;
    padding: 0px;

    
    left: 80px;
    top: 0px;
}

.logo-img img{
    /* image 1 */
    
    width: 98px;
    height: 104px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 26px 19px;
}


.header-menu-element {
    /* header-menu */


    /* Auto layout */
    
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-dark);
    margin-bottom: 15px;
    text-decoration: none;
    transition: var(--animation-transition);
    /*
    margin:50px;
    bottom: 25px;
    */

    
}

.header-menu{
    display: flex;
    flex-direction: row;
    z-index: 100;
    margin:20px 0;
    padding:38px;
    
    
}

/*.header-menu-element:hover{
    color: var(--txt-c-accent);
    font-size: 17px;
}

.header-menu .header-menu-element:hover{
    color: var(--txt-c-accent);
    font-size: 17px;
}*/

.btn-accent-btn{
    color:white;
    /*
    bottom:2px;
    margin:45px;
    */
    padding:10px 20px;
    background: #606263;
    text-align: center;
    border-radius:12px;
    border: 1px solid #064908; /* Green */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px   #2a2a2b;
    margin-right: 50px;
}

.btn-accent-btn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn-accent-btn:active{
    background-color: #606263;
    box-shadow: 0 7px #2a2a2b;
    transform: translateY(50px);
}










    /* Rectangle 9 */
    
    /* Auto layout 

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;

    height: auto;

    color: aliceblue;
    background: #565655;
    border-radius: 10px;
    */
    /* Inside auto layout 

    flex: none;
    order: 4;
    flex-grow: 1;
    margin: 0px 60px;
    
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0px;
    */

/* main-content */

/*
.header-menu-element .mobile-menu-item{
    color:#FFFFFF;
}
*/








.main-content {
    /*
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 51px 200px;

    position: static;
    width: 50%;
    height: 50%;
    left: 0px;
    top: 148px;
    opacity:90%;*/
    /* Inside auto layout 
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
    margin-left: auto;
    */
    display: flex;
    /*padding: 51px 20px 51px 150px;*/
    flex-direction: row;
    align-items: inherit;
    position: relative;
    
}

/* Component 1 */

.component {
    position: static;
    width: auto;
    height: auto;
    left: 0;
    /*top: 51px;*/
    opacity: 100%;
    mix-blend-mode: lighten;
    
    /* Inside auto layout */

    
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}

.frame-4 {
   
}
.test{
    color: #FFFFFF;
}
.vector {
    /* Vector */
    
    
    /*opacity: 0%;*/
    position: absolute;
    width: 59vh;
    height: 59vh;
    /*height: 100vh;*/
    /*display: inline-flex;*/
    /*align-self: center;*/
    bottom:0;
    left: 341px;
    right: 0;
    top: 99px;
    margin:0;
    padding:0px 0px 0px 0px;

    /*background: radial-gradient(82.95% 302.2% at 
    88.37% 85.81%,#1B3536 0%,
    #1B3536 0.01%, #588876 100%) ;*/
    
    /*
    background: radial-
        gradient(82.95% 302.2% at 
        88.37% 85.81%, #1B3536 0%,
        #1B3536 0.01%, #588876 100%) 
        /* warning: gradient uses a 
        rotation that is not supported 
        by CSS and may not behave as expected */
    mix-blend-mode: darken;
}

.frame-1 {
    /* Frame 1 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
   
    width: auto;
    height: 500px;
    left: 0px;
    top: 40px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    justify-content: left;
}


.frame-2 {
    /* Frame 2 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

}





.frame-3 {
    /* Frame 3 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    /*padding-left: 38px;*/


    position: static;
    width: auto;
    height: auto;
    left: 0px;
    /*top: 137px;*/

    /* Inside auto layout */

    flex: none;
    order: 1;
    
    flex-grow: 1;
    /*margin: -1px -37px 150px -51px;*/
}




/* footer-content */

/* Auto layout */
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*padding: 0px 0px 50px 40px;*/

    position: static;
    width: auto;
    height: auto;
    left: 0px;
    /*top: 985px;*/

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.restangle-10 {
    /* Rectangle 10 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: auto;
    height: auto;
    left: 40px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.text{
    z-index: 100;
    color:azure;
    /*margin-left: -32px;*/
}
.text li::marker{
    color:green;
}


.text pre{
    /* Все права защищены */
    /*
    position: static;
    width: auto;
    height: 23px;
    left: calc(50% - 334px/2);
    top: calc(50% - 23px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: ;
    line-height: 24px;
    display: flex;
    align-items: center;
    */
    /*text-align: center;*/
    font-size: 120%;
    font-weight: 200;
    font-style: normal;
    font-family: fantasy;
    color: green;
    text-transform: uppercase;
    white-space: pre;
    text-align: left;
    margin: -19px 0px;
    z-index:100;

    /* Inside auto layout */
    /*
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
    */
}
.test ul{
    /*color:whitesmoke;
    padding:10px;
    size:3px;*/
    color:whitesmoke;
    font-size: small;
    font-weight: normal;
    font-style: normal;
    font-family: serif;
    text-transform: capitalize;
    white-space: normal;
    text-align: left;
    line-height: normal;
    
}
.test p, li{
    color:whitesmoke;
    font-size: small;
    font-weight: normal;
    font-style: normal;
    font-family: serif;
    text-transform: capitalize;
    white-space: normal;
    text-align: left;
    line-height: normal;
    
}
/*
@media only screen and (min-width: 320px) {}
    */

/* Mobile menu modal 
.mobile-menu-close-btn {
    background: #2a2a2b;
    color: #000;
    padding:0;
}


.modal-menu-container{
    height: 70%;
    margin: 0;
    justify-content: space-between;
}

.modal-mobile-menu {
    background: #a9abaa;
}

.modal-mobile-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.mobile-menu-items {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mobile-menu-item {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-dark);
    margin-bottom: 35px;
    text-decoration: none;
    transition: var(--animation-transition);
}

.mobile-menu-item:hover {
    color: var(--txt-c-accent);
    font-size: 17px;
}

.nav-menu .mobile-menu-item:hover {
    color: var(--txt-c-accent);
    font-size: 17px;
}

.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
}

.mobile-menu-email {
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    color: var(--txt-c-dark);
}
*/


/* Modals */

.body-scroll-disable {
    overflow: hidden;
}

.modal {
    
    position: fixed;
    top: 22%;
    left: 36%;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background: var(--moda-bgd-dark);
    z-index: 3000;
    transform: translate(-22%, -36%);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-out;


    

    /*
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    */
   

}

.modal-active {
    
    pointer-events: all;
    opacity: 1;
    display: inline-block;
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    vertical-align: middle;


    
}

.modal-close-btn {
    font-size: 15px;
    position: absolute;
    top: -2px;
    right: 24px;
    color: var(--txt-c-grey);
    cursor: pointer;
    display: block;
    transform: translateX(20px);
    /*opacity: 0;*/
}


.icon-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 39px 21px 6px 0px;
    box-sizing: border-box;
    background: linear-gradient(90deg, silver, white, #a9abaa);
    border-style:solid;
    border-width:2px;
    border-color: #064908 ;
    border-radius:18px;

    background-color: #a9abaa;
}

.icon-modal-container {
    background: var(--c-light);
    padding: 45px 0;
    text-align: center;
    border-radius: 1px;
    /*border: 1px solid #064908;*/
    top:0;
    padding: 0;
    margin:0;
    bottom: 0;
    cursor:pointer;
    position: relative;
    box-sizing: border-box;
    height: 89%;
}

.icon-modal-scrollable {
    overflow-y: auto;
    height: 100%;
    /*padding: 0 25px;*/
}
.email-element{
    display: none !important;
}
/*
.links-telegram-footer{
    display: flex;
}
*/

.icon-modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--txt-c-dark);
    
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 25px 0;
    display: block;
}

.icon-modal-text {
    font-size: 16px;
    line-height: 145%;
    color: var(--txt-c-dark);
    margin: 25px 0px 30px 0px;
}
/*
.icon-modal-text-smaller{
    font-size: 6px;
    line-height: 50%;
    color: var(--txt-c-dark);
    margin: 10px 0px 15px 0px;
}
*/


/* Media query (exstra smoller devices)*/

@media only screen and (min-width: 320px) and (max-width: 640px){
    body{
       /* width: auto;
        height: auto;*/
        scroll-behavior: unset;
        box-sizing: border-box;
        /*display: initial;*/
        background: #0a0a0a;
    }

    .container {
        padding-bottom: 30px;
        min-width: 320px;
    }

    .modal-menu-container{
       

        /*height: 70%;*/
        margin: 0;
        justify-content: space-between;
    }
    .modal-area-content{
        visibility: visible;
        box-sizing: border-box;
        position: relative;

        
        
    }
    
    .mobile-menu-email {
        font-size: 17px;
        line-height: 150%;
        text-align: center;
        text-decoration: none;
        margin-bottom: 5px;
        color: #2a2a2b;
    }
    
    
    
    
    
    .main-container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px;
        
        position: initial;/* Относительное позиционирование */
        border: 1px solid #000; /* Внешнея граница вокруг блока div */
        
        min-width: 320px; /* Ширина блока div */
        
    
        /*min-height: 929px;*/
        /*margin-left: -497px;*/
        /*left: 50%;  Позиционирование относительно левого края окна браузера */
    
        background: radial-gradient(200% 259.18% at 21.64% 17.5%, #000000 20.83%, rgba(0, 0, 0, 0.4) 100%);
        
        mix-blend-mode: normal;
    
    
    }
    
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /*padding: 63px 66px 0px 195px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 35px;*/
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 8px;
    }
    
    .icon-main-site {
        display: block;
        padding: 0px;
    
        
        left: 80px;
        top: 0px;
    }
    
    .logo-img img{
        /* image 1 */
        
        width: 73px;
        height: 79px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 15px 19px;
    }
    
    
    .header-menu-element {
        /* header-menu */
    
    
        /* Auto layout */
        
        font-weight: bold;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--txt-c-dark);
        margin-bottom: 21px -32px;
        text-decoration: none;
        transition: var(--animation-transition);
        /*
        margin:50px;
        bottom: 25px;
        */
    
        
    }
    
    .header-menu{
        display: flex;
        flex-direction: row;
        z-index: 100;
        margin:13px 15px;
        padding:5px;
        
        
    }
    
    /*.header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }
    
    .header-menu .header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }*/
    .btn-accent-btn-mobile{
        visibility: visible;
        
    }
    .btn-accent-btn{
        color:white;
        /*
        bottom:2px;
        margin:45px;
        */
        padding:12px 20px 12px 21px;
        background: #606263;
        text-align: center;
        border-radius:14px;
        border: 1px solid #064908; /* Green */
        transition-duration: 0.4s;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px   #2a2a2b;
        margin-right: 7px;
    }
    
    .btn-accent-btn:hover{
        background-color: #4CAF50; /* Green */
        color: white;
    }
    .btn-accent-btn:active{
        background-color: #606263;
        box-shadow: 0 7px #2a2a2b;
        transform: translateY(50px);
    }
    
    
    
    
    
    
    
    
    
    
        /* Rectangle 9 */
        
        /* Auto layout 
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
    
        height: auto;
    
        color: aliceblue;
        background: #565655;
        border-radius: 10px;
        */
        /* Inside auto layout 
    
        flex: none;
        order: 4;
        flex-grow: 1;
        margin: 0px 60px;
        
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: white;
        margin-bottom: 0px;
        */
    
    /* main-content */
    
    /*
    .header-menu-element .mobile-menu-item{
        color:#FFFFFF;
    }
    */
    
    
    
    
    
    
    
    
    .main-content {
        /*
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 51px 200px;
    
        position: static;
        width: 50%;
        height: 50%;
        left: 0px;
        top: 148px;
        opacity:90%;*/
        /* Inside auto layout 
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        margin-left: auto;
        */
        display: flex;
        /*padding: 7px 0px 0px 292px;*/
        flex-direction: row;
        align-items: inherit;
        position: relative;
        font-size: 11px;
        
    }
    
    /* Component 1 */
    
    .component {
        position: static;
        width: auto;
        height: auto;
        left: 0;
        /*top: 51px;*/
        opacity: 100%;
        mix-blend-mode: lighten;
        
        /* Inside auto layout */
    
        
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
    }
    
    .frame-4 {
       
    }
    .test{
        color: #FFFFFF;
    }
    .vector {
        /* Vector */
        
        
        /*opacity: 0%;*/
        position: absolute;
        width: 39vh;
        height: 35vh;
        /*height: 100vh;*/
        /*display: inline-flex;*/
        /*align-self: center;*/
        bottom:0;
        left: 4%;
        right: 0;
        /*top: 31px;*/
        margin:0;
        /*padding:0px 4px 0px;*/
    
        /*background: radial-gradient(82.95% 302.2% at 
        88.37% 85.81%,#1B3536 0%,
        #1B3536 0.01%, #588876 100%) ;*/
        
        /*
        background: radial-
            gradient(82.95% 302.2% at 
            88.37% 85.81%, #1B3536 0%,
            #1B3536 0.01%, #588876 100%) 
            /* warning: gradient uses a 
            rotation that is not supported 
            by CSS and may not behave as expected */
        mix-blend-mode: darken;
    }
    
    .frame-1 {
        /* Frame 1 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        
       
        width: auto;
        /*height: auto;*/
        left: 0px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 1px 1px;
        justify-content: left;
    }
    
    
    .frame-2 {
        /* Frame 2 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    
    }
    
    
    
    
    
    .frame-3 {
        /* Frame 3 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 14px;
    
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 137px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        
        flex-grow: 1;
        /*margin: 16px -20px;*/
    }
    
    
    
    
    /* footer-content */
    
    /* Auto layout */
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*padding: 0px 0px 6px 441px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 985px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    }
    
    .restangle-10 {
        /* Rectangle 10 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 40px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    
    .text{
        z-index: 100;
        color:azure;
       /* margin-left: -32px;*/
    }
    .text li::marker{
        color:green;
    }
    
    
    .text pre{
        /* Все права защищены */
        /*
        position: static;
        width: auto;
        height: 23px;
        left: calc(50% - 334px/2);
        top: calc(50% - 23px/2);
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: ;
        line-height: 24px;
        display: flex;
        align-items: center;
        */
        /*text-align: center;*/
        font-size: 120%;
        font-weight: 200;
        font-style: normal;
        font-family: fantasy;
        color: green;
        text-transform: uppercase;
        white-space: pre;
        text-align: left;
        margin: -19px 0px;
        z-index:100;
    
        /* Inside auto layout */
        /*
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        */
    }
    .test ul{
        /*color:whitesmoke;
        padding:10px;
        size:3px;*/
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        
    }
    .test p, li{
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        font-size: 7px;
        padding-top: 10px;
    }
    /*
    @media only screen and (min-width: 320px) {}
        */
    
    /* Modals */
    
    .body-scroll-disable {
        overflow: hidden;
    }
    
    .modal {
        
        position: fixed;
        top: 22%;
        left: 36%;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        background: var(--moda-bgd-dark);
        z-index: 3000;
        transform: translate(-22%, -36%);
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease-out;
    
    
        
    
        /*
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        max-width: 630px;
        min-width: 320px;
        height: auto;
        z-index: 2000;
        visibility: hidden;
        backface-visibility: hidden;
        transform: translateX(-50%) translateY(-50%);
        */
       
    
    }
    
    .modal-active {
        
        pointer-events: all;
        opacity: 1;
        display: inline-block;
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        vertical-align: middle;
    
    
        
    }
    
    .modal-close-btn {
        font-size: 15px;
        position: absolute;
        top: -2px;
        right: 24px;
        color: var(--txt-c-grey);
        cursor: pointer;
        display: block;
        transform: translateX(20px);
        /*opacity: 0;*/
    }
    
    
    .icon-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 10px;
        box-sizing: border-box;
        background: linear-gradient(90deg, silver, white, #a9abaa);
        border-style:solid;
        border-width:2px;
        border-color: #064908 ;
        border-radius:18px;
    
        background-color: #a9abaa;
    }
    
    .icon-modal-container {
        background: var(--c-light);
        padding: 45px 0;
        text-align: center;
        border-radius: 1px;
        /*border: 1px solid #064908;*/
        top:0;
        padding: 0;
        margin:0;
        bottom: 0;
        cursor:pointer;
        position: relative;
        box-sizing: border-box;
        height: 89%;
    }
    
    .icon-modal-scrollable {
        overflow-y: auto;
        width: 56vh;
        height: 100%;
        /*padding: 0px 0px 0px 0px;*/
    }
    
    .icon-modal-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: var(--txt-c-dark);
        
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 25px 0;
        display: block;
    }
    
    .icon-modal-text {
        font-size: 16px;
        line-height: 145%;
        color: var(--txt-c-dark);
        margin: 25px 0px 30px 0px;
    }

    /* Mobile menu modal */
    /*
    .modal-mobile-menu {
        background: #a9abaa;
    }

    .modal-active {
        pointer-events: all;
        opacity: 1;
    }

    .modal {
        position: fixed;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;
        z-index: 1000;
    }

    .modal-mobile-menu-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    .container {
        min-width: 320px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 30px 10px 55px 10px;
        overflow-x: hidden;

    }
    
    .modal-menu-container {
        /*height: 70%;*/
        margin: 0;
        justify-content: space-between;
    }

    .mobile-menu-close-btn {
        background:#a9abaa;
        color: #606263;
        padding: 10px 14px;
    }

    .modal-close-btn {
        font-size: 15px;
        position: absolute;
        top:16px;
        right: 16px;
        cursor: pointer;
    }

    .mobile-menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu-item {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 35PX;
        text-decoration: none;
        transition: var(--animation-transition);
    }

    .mobile-menu-contacts {
        display: flex;
        flex-direction: column;
    }
    /*
    /*

    .mobile-menu-close-btn {
        background: #2a2a2b;
        color: #000;
        padding:0;
        font-size: 10px;
    }


    .modal-menu-container{
        height: 70%;
        margin: 0;
        justify-content: space-between;
    }

    .modal-mobile-menu {
        background: #0a0a0a;
        min-width: 320px;
        height: auto;
    }

    .modal-mobile-menu-content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        

        
    }

    .mobile-menu-items {
        display: flex;
        min-width: 320px;
        height: auto;
        flex-direction: column;
        align-items: center;
        background: #a9abaa;
        border: 4px solid#2e7753;
        border-radius: 25px;
        opacity: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        position: relative;

    }
    .not-mobile{
        position: absolute;
        visibility: hidden;
    }
    .mobile-menu-item {
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--txt-c-dark);
        margin-bottom: 63px;
        padding-top: 15px;
        text-decoration: none;
        transition: var(--animation-transition);
        cursor:pointer;
        float: none;
        display: block;
        
    }

    .mobile-menu-item:hover {
        
        color: var(--txt-c-accent);
        font-size: 17px;
        
        
       
    }

    .nav-menu .mobile-menu-item:hover {
        color: var(--txt-c-accent);
        font-size: 17px;
    }

    .mobile-menu-contacts {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-email {
        font-size: 17px;
        line-height: 150%;
        text-align: center;
        text-decoration: none;
        margin-bottom: 5px;
        color: #a9abaa;
        border: 2px solid#2e7753;
        border-radius: 6px;
    }
    */

}




@media only screen and (min-width: 641px) and (max-width: 1199px){
    body{
        width: auto;
        height: auto;
        box-sizing: border-box;
        /*display: initial;*/
        background: #0a0a0a;
    }
    
    
    
    
    
    
    
    .main-container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px;
        
        position: initial;/* Относительное позиционирование */
        border: 1px solid #000; /* Внешнея граница вокруг блока div */
        
        min-width: 641px; /* Ширина блока div */
    
        /*min-height: 929px;*/
        /*margin-left: -497px;*/
        /*left: 50%;  Позиционирование относительно левого края окна браузера */
    
        background: radial-gradient(200% 259.18% at 21.64% 17.5%, #000000 20.83%, rgba(0, 0, 0, 0.4) 100%);
        
        mix-blend-mode: normal;
    
    
    }
    
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /*padding: 63px 66px 0px 195px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 35px;*/
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 8px;
    }
    
    .icon-main-site {
        display: block;
        padding: 0px;
    
        
        left: 80px;
        top: 0px;
    }
    
    .logo-img img{
        /* image 1 */
        
        width: 73px;
        height: 79px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 15px 19px;
    }
    
    
    .header-menu-element {
        /* header-menu */
    
    
        /* Auto layout */
        
        font-weight: bold;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--txt-c-dark);
        margin-bottom: 21px -32px;
        text-decoration: none;
        transition: var(--animation-transition);
        /*
        margin:50px;
        bottom: 25px;
        */
    
        
    }
    
    .header-menu{
        display: flex;
        flex-direction: row;
        z-index: 100;
        margin:13px 15px;
        padding:5px;
        
        
    }
    
    /*.header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }
    
    .header-menu .header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }*/
    
    .btn-accent-btn{
        color:white;
        /*
        bottom:2px;
        margin:45px;
        */
        padding:12px 20px 12px 21px;
        background: #606263;
        text-align: center;
        border-radius:14px;
        border: 1px solid #064908; /* Green */
        transition-duration: 0.4s;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px   #2a2a2b;
        margin-right: 7px;
    }
    
    .btn-accent-btn:hover{
        background-color: #4CAF50; /* Green */
        color: white;
    }
    .btn-accent-btn:active{
        background-color: #606263;
        box-shadow: 0 7px #2a2a2b;
        transform: translateY(50px);
    }
    
    
    
    
    
    
    
    
    
    
        /* Rectangle 9 */
        
        /* Auto layout 
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
    
        height: auto;
    
        color: aliceblue;
        background: #565655;
        border-radius: 10px;
        */
        /* Inside auto layout 
    
        flex: none;
        order: 4;
        flex-grow: 1;
        margin: 0px 60px;
        
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: white;
        margin-bottom: 0px;
        */
    
    /* main-content */
    
    /*
    .header-menu-element .mobile-menu-item{
        color:#FFFFFF;
    }
    */
    
    
    
    
    
    
    
    
    .main-content {
        /*
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 51px 200px;
    
        position: static;
        width: 50%;
        height: 50%;
        left: 0px;
        top: 148px;
        opacity:90%;*/
        /* Inside auto layout 
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        margin-left: auto;
        */
        display: flex;
        /*padding: 7px 0px 0px 292px;*/
        flex-direction: row;
        align-items: inherit;
        position: relative;
        font-size: 11px;
        
    }
    
    /* Component 1 */
    
    .component {
        position: static;
        width: auto;
        height: auto;
        left: 0;
        /*top: 51px;*/
        opacity: 100%;
        mix-blend-mode: lighten;
        
        /* Inside auto layout */
    
        
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
    }
    
    .frame-4 {
       
    }
    .test{
        color: #FFFFFF;
    }
    .vector {
        /* Vector */
        
        
        /*opacity: 0%;*/
        position: absolute;
        width: 42vh;
        height: 37vh;
        /*height: 100vh;*/
        /*display: inline-flex;*/
        /*align-self: center;*/
        bottom:0;
        left: 21%;
        right: 0;
        /*top: 31px;*/
        margin:0;
        /*padding:0px 4px 0px;*/
    
        /*background: radial-gradient(82.95% 302.2% at 
        88.37% 85.81%,#1B3536 0%,
        #1B3536 0.01%, #588876 100%) ;*/
        
        /*
        background: radial-
            gradient(82.95% 302.2% at 
            88.37% 85.81%, #1B3536 0%,
            #1B3536 0.01%, #588876 100%) 
            /* warning: gradient uses a 
            rotation that is not supported 
            by CSS and may not behave as expected */
        mix-blend-mode: darken;
    }
    
    .frame-1 {
        /* Frame 1 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        
       
        width: auto;
        height: 500px;
        left: 0px;
        top: 40px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 1px 1px;
        justify-content: left;
    }
    
    
    .frame-2 {
        /* Frame 2 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    
    }
    
    
    
    
    
    .frame-3 {
        /* Frame 3 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 14px;
    
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 137px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        
        flex-grow: 1;
        /*margin: 16px -20px;*/
    }
    
    
    
    
    /* footer-content */
    
    /* Auto layout */
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /*padding: 0px 0px 6px 441px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 985px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    }
    
    .restangle-10 {
        /* Rectangle 10 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 40px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    
    .text{
        z-index: 100;
        color:azure;
       /* margin-left: -32px;*/
    }
    .text li::marker{
        color:green;
    }
    
    
    .text pre{
        /* Все права защищены */
        /*
        position: static;
        width: auto;
        height: 23px;
        left: calc(50% - 334px/2);
        top: calc(50% - 23px/2);
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: ;
        line-height: 24px;
        display: flex;
        align-items: center;
        */
        /*text-align: center;*/
        font-size: 120%;
        font-weight: 200;
        font-style: normal;
        font-family: fantasy;
        color: green;
        text-transform: uppercase;
        white-space: pre;
        text-align: left;
        margin: -19px 0px;
        z-index:100;
    
        /* Inside auto layout */
        /*
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        */
    }
    .test ul{
        /*color:whitesmoke;
        padding:10px;
        size:3px;*/
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        
    }
    .test p, li{
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        font-size: 9px;
    }
    /*
    @media only screen and (min-width: 320px) {}
        */
    
    /* Modals */
    
    .body-scroll-disable {
        overflow: hidden;
    }
    
    .modal {
        
        position: fixed;
        top: 22%;
        left: 36%;
        height: 100%;
        width: 100%;

        max-height: 100%;
        max-width: 100%;

        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        background: var(--moda-bgd-dark);
        
        z-index: 3000;
        visibility: hidden;
        backface-visibility: hidden;
        transform: translate(-22%, -36%);
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease-out;
    
    
        
    
        /*
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        max-width: 630px;
        min-width: 320px;
        height: auto;
        z-index: 2000;
        visibility: hidden;
        backface-visibility: hidden;
        transform: translateX(-50%) translateY(-50%);
        */
       
    
    }
    
    .modal-active {
        
        pointer-events: all;
        opacity: 1;
        display: inline-block;
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        vertical-align: middle;
    
    
        
    }
    
    .modal-close-btn {
        font-size: 15px;
        position: absolute;
        top: -2px;
        right: 24px;
        color: var(--txt-c-grey);
        cursor: pointer;
        display: block;
        transform: translateX(20px);
        /*opacity: 0;*/
    }
    
    
    .icon-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 10px;
        box-sizing: border-box;
        background: linear-gradient(90deg, silver, white, #a9abaa);
        border-style:solid;
        border-width:2px;
        border-color: #064908 ;
        border-radius:18px;
    
        background-color: #a9abaa;
    }
    
    .icon-modal-container {
        background: var(--c-light);
        padding: 45px 0;
        text-align: center;
        border-radius: 1px;
        /*border: 1px solid #064908;*/
        top:0;
        padding: 0;
        margin:0;
        bottom: 0;
        cursor:pointer;
        position: relative;
        box-sizing: border-box;
        height: 89%;
    }
    
    .icon-modal-scrollable {
        overflow-y: auto;
        width: 56vh;
        height: 100%;
        /*padding: 0px 0px 0px 0px;*/
    }
    
    .icon-modal-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: var(--txt-c-dark);
        
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 25px 0;
        display: block;
    }
    
    .icon-modal-text {
        font-size: 16px;
        line-height: 145%;
        color: var(--txt-c-dark);
        margin: 25px 0px 30px 0px;
    }
}






@media only screen and (min-width: 1200px){
    body{
        width: auto;
        height: auto;
        box-sizing: border-box;
        /*display: flex;*/
        background: #0a0a0a;
        display: block;
        justify-content: center;
    }
    
    
    
    
    
    
    
    .main-container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px;
        justify-content: center;
        position: initial;/* Относительное позиционирование */
        border: 1px solid #000; /* Внешнея граница вокруг блока div */
        
        min-width: 1200px; /* Ширина блока div */
    
        /*min-height: 550px;*/
        /*margin-left: -497px;*/
        /*left: 41%;  Позиционирование относительно левого края окна браузера */
    
        background: radial-gradient(200% 259.18% at 21.64% 17.5%, #000000 20.83%, rgba(0, 0, 0, 0.4) 100%);
        
        mix-blend-mode: normal;
    
    
    }
    
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        /*padding: 0px 0px 0px 80px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 35px;*/
    
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        /*margin: 0px 8px;*/
    }
    
    .icon-main-site {
        display: block;
        padding: 0px;
    
        
        left: 80px;
        top: 0px;
    }
    
    .logo-img img{
        /* image 1 */
        
        width: 98px;
        height: 104px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 26px 19px;
    }
    
    
    .header-menu-element {
        /* header-menu */
    
    
        /* Auto layout */
        
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--txt-c-dark);
        margin-bottom: 15px;
        text-decoration: none;
        transition: var(--animation-transition);
        /*
        margin:50px;
        bottom: 25px;
        */
    
        
    }
    
    .header-menu{
        display: flex;
        flex-direction: row;
        z-index: 100;
        /*margin:20px 0;
        padding:38px;*/
        
        
    }
    
    /*.header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }
    
    .header-menu .header-menu-element:hover{
        color: var(--txt-c-accent);
        font-size: 17px;
    }*/
    
    .btn-accent-btn{
        color:white;
        /*
        bottom:2px;
        margin:45px;
        */
        /*padding:10px 20px;*/
        background: #606263;
        text-align: center;
        border-radius:12px;
        border: 1px solid #064908; /* Green */
        transition-duration: 0.4s;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px   #2a2a2b;
       /* margin-right: 50px;*/
    }
    
    .btn-accent-btn:hover{
        background-color: #4CAF50; /* Green */
        color: white;
    }
    .btn-accent-btn:active{
        background-color: #606263;
        box-shadow: 0 7px #2a2a2b;
        transform: translateY(50px);
    }
    
    
    
    
    
    
    
    
    
    
        /* Rectangle 9 */
        
        /* Auto layout 
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
    
        height: auto;
    
        color: aliceblue;
        background: #565655;
        border-radius: 10px;
        */
        /* Inside auto layout 
    
        flex: none;
        order: 4;
        flex-grow: 1;
        margin: 0px 60px;
        
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: white;
        margin-bottom: 0px;
        */
    
    /* main-content */
    
    /*
    .header-menu-element .mobile-menu-item{
        color:#FFFFFF;
    }
    */
    
    
    
    
    
    
    
    
    .main-content {
        /*
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 51px 200px;
    
        position: static;
        width: 50%;
        height: 50%;
        left: 0px;
        top: 148px;
        opacity:90%;*/
        /* Inside auto layout 
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        margin-left: auto;
        */
        display: flex;
        /*padding: 111px 0px 0px 156px;*/
        flex-direction: row;
        align-items: inherit;
        position: relative;
        
    }
    
    /* Component 1 */
    
    .component {
        position: static;
        width: auto;
        height: auto;
        left: 0;
        /*top: 51px;*/
        opacity: 100%;
        mix-blend-mode: lighten;
        
        /* Inside auto layout */
    
        
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
    }
    
    .frame-4 {
       
    }
    .test{
        color: #FFFFFF;
    }
    .vector {
        /* Vector */
        
        
        /*opacity: 0%;*/
        position: absolute;
        width: 79vh;
        height: 39vh;
        /*height: 100vh;*/
        /*display: inline-flex;*/
        /*align-self: center;*/
        bottom:0;
        /*left: 408px;*/
        right: 0;
        /*top: 53px;*/
        margin:0;
        /*padding:0px 68px 0px;*/
    
        /*background: radial-gradient(82.95% 302.2% at 
        88.37% 85.81%,#1B3536 0%,
        #1B3536 0.01%, #588876 100%) ;*/
        
        /*
        background: radial-
            gradient(82.95% 302.2% at 
            88.37% 85.81%, #1B3536 0%,
            #1B3536 0.01%, #588876 100%) 
            /* warning: gradient uses a 
            rotation that is not supported 
            by CSS and may not behave as expected */
        mix-blend-mode: darken;
    }
    
    .frame-1 {
        /* Frame 1 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        
       
        width: auto;
        height: 500px;
        left: 0px;
        top: 40px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
        justify-content: left;
    }
    
    
    .frame-2 {
        /* Frame 2 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    
    }
    
    
    
    
    
    .frame-3 {
        /* Frame 3 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0px;
        padding-bottom: 0px;
        /*padding-left: 14px;*/
    
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 137px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        
        flex-grow: 1;
        /*margin: 16px -20px;*/
    }
    
    
    
    
    /* footer-content */
    
    /* Auto layout */
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /*padding: 0px 0px 6px 121px;*/
    
        position: static;
        width: auto;
        height: auto;
        left: 0px;
        /*top: 985px;*/
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    }
    
    .restangle-10 {
        /* Rectangle 10 */
    
        /* Auto layout */
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
    
        position: static;
        width: auto;
        height: auto;
        left: 40px;
        top: 0px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    
    .text{
        z-index: 100;
        color:azure;
       /* margin-left: -32px;*/
    }
    .text li::marker{
        color:green;
    }
    
    
    .text pre{
        /* Все права защищены */
        /*
        position: static;
        width: auto;
        height: 23px;
        left: calc(50% - 334px/2);
        top: calc(50% - 23px/2);
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: ;
        line-height: 24px;
        display: flex;
        align-items: center;
        */
        /*text-align: center;*/
        font-size: 120%;
        font-weight: 200;
        font-style: normal;
        font-family: fantasy;
        color: green;
        text-transform: uppercase;
        white-space: pre;
        text-align: left;
        margin: -19px 0px;
        z-index:100;
    
        /* Inside auto layout */
        /*
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        margin: 0px 0px;
        */
    }
    .test ul{
        /*color:whitesmoke;
        padding:10px;
        size:3px;*/
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        
    }
    .test p, li{
        color:whitesmoke;
        font-size: small;
        font-weight: normal;
        font-style: normal;
        font-family: serif;
        text-transform: capitalize;
        white-space: normal;
        text-align: left;
        line-height: normal;
        
    }
    /*
    @media only screen and (min-width: 320px) {}
        */
    
    /* Modals */
    
    .body-scroll-disable {
        overflow: hidden;
    }
    
    .modal {
        
        position: fixed;
        top: 22%;
        left: 36%;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        display: block;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        background: var(--moda-bgd-dark);
        z-index: 3000;
        transform: translate(-22%, -36%);
        box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease-out;
    
    
        
    
        /*
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        max-width: 630px;
        min-width: 320px;
        height: auto;
        z-index: 2000;
        visibility: hidden;
        backface-visibility: hidden;
        transform: translateX(-50%) translateY(-50%);
        */
       
    
    }
    
    .modal-active {
        
        pointer-events: all;
        opacity: 1;
        display: inline-block;
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        vertical-align: middle;
    
    
        
    }
    
    .modal-close-btn {
        font-size: 15px;
        position: absolute;
        top: -2px;
        right: 24px;
        color: var(--txt-c-grey);
        cursor: pointer;
        display: block;
        transform: translateX(20px);
        /*opacity: 0;*/
    }
    
    
    .icon-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 10px;
        box-sizing: border-box;
        background: linear-gradient(90deg, silver, white, #a9abaa);
        border-style:solid;
        border-width:2px;
        border-color: #064908 ;
        border-radius:18px;
    
        background-color: #a9abaa;
    }
    
    .icon-modal-container {
        background: var(--c-light);
        padding: 45px 0;
        text-align: center;
        border-radius: 1px;
        /*border: 1px solid #064908;*/
        top:0;
        padding: 0;
        margin:0;
        bottom: 0;
        cursor:pointer;
        position: relative;
        box-sizing: border-box;
        height: 89%;
    }
    
    .icon-modal-scrollable {
        overflow-y: auto;
        height: 100%;
        /*padding: 0 25px;*/
    }
    
    .icon-modal-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: var(--txt-c-dark);
        
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 25px 0;
        display: block;
    }
    
    .icon-modal-text {
        font-size: 16px;
        line-height: 145%;
        color: var(--txt-c-dark);
        margin: 25px 0px 30px 0px;
    }
}



